@import url("https://fonts.googleapis.com/css2?family=Delius&family=Handlee&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --primary-clr: #4d80c2;
  --light-primary-clr: #4d80c2a8;
  --secondary-clr: #ed1a38;
  --black-clr: #000000;
  --white-clr: #ffffff;
  --clr-4: #d9d9d9eb;
}
* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--light-primary-clr);
}
nav {
  background-color: var(--clr-4);
  padding: 1rem 3rem;
  position: fixed;
  top: 40%;
  right: -10%;
  border-radius: 0.5rem 0px 0 0.5rem;
  transition: 0.4s ease-in-out;
}
/* making the navigation sticky in the right side of the screen */
.nav-items {
  list-style: none;
  transition: 0.4s ease-in-out;
  opacity: 0;
}
.nav-item {
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
  background-color: var(--light-primary-clr);

  text-align: center;
  border-radius: 5px;
}
/* adding hover effect */
.nav:hover {
  right: 0;
}
.nav:hover .nav-items {
  opacity: 1;
}
.nav-item:hover {
  background-color: var(--primary-clr);
}
.nav-items a {
  text-decoration: none;
  color: var(--black-clr);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
/* styling main
 */
main {
  margin: 1rem auto;
  width: 80%;
  margin-top: 1rem;
}
/*desigining the container */
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  place-items: center;
}
.description {
  background-color: var(--primary-clr);
  position: relative;
  place-items: center;
  width: 40rem;
  padding: 1rem;
  border-radius: 10px;
  border: 10px;
  grid-column: 1/2;
  grid-row: 1 / 3;
}
.description::after {
  border-radius: 10px;
  border: 2px solid var(--secondary-clr);
  position: absolute;
  top: 10%;
  left: 5%;
  /* background-color: black; */
  height: 100%;
  width: 100%;
  z-index: -1;
  content: "";
}
.description h1 {
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--clr-4);
  color: transparent;
  letter-spacing: 0.2rem;
  font-weight: bold;
  margin: 1rem 0;
  text-shadow: 1px 1px 10px var(--secondary-clr);
  font-weight: bold;
  font-size: 1.7rem;
}
.description p {
  font-weight: normal;
  margin: 1rem 0;
  color: var(--white-clr);
  line-height: 1.2rem;
}
.button {
  padding: 0.5rem 1rem;
  background-color: var(--clr-4);
  border: 1px solid var(--white-clr);
  border-radius: 5px;
  color: var(--white-clr);
  box-shadow: 5px 5px 2px var(--black-clr);
  cursor: pointer;
}
.button:hover {
  background-color: var(--white-clr);
  transition: 0.2s ease-in;
  box-shadow: 0px 0px 0px;
  color: var(--black-clr);
  border: 1px solid var(--black-clr);
}

/* styling logo container */
.logo-container {
  position: relative;
  height: 15rem;
  width: 15rem;
  border-radius: 10px;
}
.logo-container img {
  border-radius: inherit;

  height: 100%;
  width: 100%;
}
.logo-container::after {
  position: absolute;
  content: "";
  top: 10%;
  height: 100%;
  width: 100%;
  left: 15%;
  z-index: -1;
  border-radius: inherit;
  border: 2px solid var(--primary-clr);
}
.logo-container::before {
  position: absolute;
  content: "";
  bottom: 5%;
  height: 50%;
  width: 50%;
  left: -20%;
  z-index: 0;
  backdrop-filter: blur(5px);
  background-color: var(--clr-4);

  border-radius: inherit;
}
.logo-credit {
  background-color: var(--secondary-clr);
  color: var(--white-clr);
  padding: 1rem;
  border-radius: 10px;
  width: 20rem;
  border: 1px solid var(--light-primary-clr);
}
.other-section {
  margin-top: 7rem;
  padding: 1rem 2rem;
  display: flex;
  height: 15rem;
  width: 100%;
}
.other-section div:nth-of-type(1),
.other-section div:nth-of-type(2) {
  height: 100%;
  width: 20rem;
  padding: 1rem;
  color: var(--white-clr);
}
.other-section div:nth-of-type(1) {
  background-color: var(--primary-clr);
}
.other-section div:nth-of-type(2) {
  background-color: var(--clr-4);
}
.other-section div:nth-of-type(3) {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--secondary-clr);
  color: var(--white-clr);
}
.other-section div:nth-of-type(3) p {
  margin: 0 0 1rem 0;
}
